.ess-kms-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    border-radius: 4px;
    border: 10px solid transparent;
    border-color: #fff;
    background:
      linear-gradient(#fcfaeb,
        transparent),
      linear-gradient(90deg,
        #fafafa,
        transparent),
      linear-gradient(-90deg,
        #e5f5f9,
        transparent);
    border-radius: 20px !important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-blend-mode: screen;
    margin: 20px auto;
    // padding: 40px 20px !important;
  } 

  .is-active{
    background: #e1e4e0 !important;
  }