 .corr-dialog-content {
   padding-top: .5rem;
 }

 .mat-dialog-container {
   background: ghostwhite !important;
   border-radius: 1rem !important;
   border-radius: 1rem !important;
   border: 0.2rem dashed !important;
   border-color: cadetblue !important;
 }