<ion-content scrollbar allowAllScreens="true" padding>

  <ion-row class="row-center app-background">
    <ion-col>
      <ion-row class="bg-transparent">
        <div class="vertical-center">
          <ion-img alt="Admission Portal" src="assets/images/{{logo}}.png" style="height: 18vh;padding-bottom: 0.5rem;"></ion-img>
        </div>
      </ion-row>

      <!-- <ion-row style="place-content: center;">
        <h4 class="title-logo-color" style="font-weight: bold;padding-top: 1rem;    text-align: center;"> {{ "Welcome" | i18n : "corr.login.welcome" }} </h4>
      </ion-row> -->
      <form style=" display: flex; align-items: center; justify-content: center;">
        <ion-card class="login-card">

          <div class="card-header">
            <h2 style="    text-align: center;">{{ "Welcome" | i18n : "corr.login.welcome" }}</h2>
            <p>Sign in to your account</p>
          </div>

          <ion-item class="input-item" lines="none">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input type="text" required [(ngModel)]="userName" name="userName" placeholder="User Name">
            </ion-input>
          </ion-item>

          <ion-item class="input-item" lines="none">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input type="password" required [(ngModel)]="password" name="password" placeholder="Password">
            </ion-input>
          </ion-item>

          <ion-button expand="block" class="login-btn" (click)="login()">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            Sign In
          </ion-button>

          <ion-button *ngIf="isMobile" expand="block" fill="outline" class="finger-btn"
            (click)="LoginWithFingerprintAuthDlg()">

            <ion-icon slot="start" name="finger-print-outline"></ion-icon>
            Fingerprint
          </ion-button>

          <div class="actions">
            <span (click)="forgetPassword()">Forget Password?</span>
          </div>

        </ion-card>

      </form>
    </ion-col>
  </ion-row>
</ion-content>