.e-con-inner {
  padding: 40px;
  display: flex;
  flex-wrap: initial;
  justify-content: initial;
  align-items: initial;
  align-content: initial;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: auto;
  gap: 18px 18px;
  width: 100%;
  max-width: 1355px;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 18px;
}

@media only screen and (max-width: 1199px) {
  .e-con-inner {
    padding: unset;
    display: flex;
    justify-content: initial;
    align-items: initial;
    align-content: initial;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
    gap: unset;
    width: 100%;
    max-width: 1355px;
    margin: 0 auto;
    height: 100%;
  }
}

.elementor-widget-image {
  width: 50%;
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}

@media (min-width: 768px) {
  .elementor-widget-image {
    width: 35%;
  }
}

ion-footer {
  background-color: #192330;
  /* Dark background color */
  color: #fff;
  /* White text color */
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1396px;
  margin: 0 auto;
  align-items: center;
}

.footer-content {
  font-size: x-small;
  text-align: center;
}

.footer-text {
  font-size: x-small;
  // margin-bottom: 0.5rem;
  color: #fff;
  /* White text color */
}

.footer-links {
  display: flex;
  font-size: x-small;
  width: -webkit-fill-available;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  padding-right: 1rem;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.social-icon {
  font-size: 1.5rem;
  color: #fff;
}

.ion-item-social-icon {
  font-size: 2rem;
  padding-right: 1rem;
  color: #233662;
}

.ion-item-footer-link {
  color: #233662;
  text-decoration: none;
  padding-right: 1rem;
}

.contact-link {
  color: white !important;
 padding-right: 0.5rem;
  &:hover {
    color: #FF4347 !important;
  }
}