<ion-content scrollbar allowAllScreens="true" padding [class.busy]="activeMask">
    <ion-row class="row-center">
        <ion-col>
            <ion-card>
                <img loading="lazy" class="image-center" alt="Silhouette of mountains"
                    src="assets/images/RecoverPssword.svg" />
                <ion-card-header>
                    <ion-card-title>{{ "forgetPasswordTitle" | i18n : "corr.global.forgetPasswordTitle" }}
                    </ion-card-title>
                    <ion-card-subtitle> {{ "forgetPasswordSubTitle" | i18n : "corr.global.forgetPasswordSubTitle"}}
                    </ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    <ion-item lines="full">
                        <mat-form-field class="full-width">
                            <mat-label> {{'citizen_serial_type' | i18n : 'corr.citizen_serial_type'}}
                            </mat-label>
                            <mat-select [(ngModel)]="citizen_serial_type" name="citizen_serial_type" required>
                                <mat-select-trigger>
                                    <span style="display: flex;font-weight: bolder;color: #125d9d;align-items: center;"
                                        *ngIf="citizen_serial_type === '1'">
                                        <img loading="lazy" width="30vw;" src="../../assets/images/passport.png" />
                                        &nbsp;{{'citizen_serial_type_1' | i18n : 'corr.citizen_serial_type_1'}}
                                    </span>

                                    <span style="display: flex;font-weight: bolder;color: #125d9d;align-items: center;"
                                        *ngIf="citizen_serial_type === '2'">
                                        <img loading="lazy" width="30vw;" src="../../assets/images/national_id.png" />
                                        &nbsp;{{'citizen_serial_type_2' | i18n : 'corr.citizen_serial_type_2'}}
                                    </span>

                                </mat-select-trigger>


                                <mat-option selected value="1">
                                    <img loading="lazy" width="30vw;"
                                        src="../../assets/images/passport.png" />
                                    &nbsp;{{'citizen_serial_type_1' | i18n : 'corr.citizen_serial_type_1'}}
                                </mat-option>
                                <mat-option value="2">
                                    <img loading="lazy" width="30vw;"
                                        src="../../assets/images/national_id.png" />
                                    &nbsp; {{'citizen_serial_type_2' | i18n : 'corr.citizen_serial_type_2'}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ion-item>
                    <ion-item lines="full">

                        <mat-form-field class="full-width">
                            <mat-label> {{'citizen_serial' | i18n : 'corr.citizen_serial'}}
                            </mat-label>
                            <input matInput [(ngModel)]="citizen_serial" name="citizen_serial" required />
                        </mat-form-field>

                    </ion-item>
                    <ion-row>
                        <ion-col>
                            <ion-button (click)="forgetPassword()" color="primary" expand="block">{{
                                "recoverPasswordBtn" | i18n : "corr.global.recoverPasswordBtn" }}</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
                <ion-row>
                    <ion-col style="display: flex;align-items: center;justify-content: center;">
                        <span>{{ "alreadyHaveAccount" | i18n : "corr.global.alreadyHaveAccount" }}</span><ion-button
                            (click)="login()" style="padding: 0px!important;" fill="clear">{{ "login" | i18n :
                            "corr.global.login" }}</ion-button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>